@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{

   overflow-x: hidden;
}
::-webkit-scrollbar{
    display: none;
}
body{
    cursor: none;
}
.mouse-delay{
    position: fixed;
    background: none;
    border-radius: 50%;
    border: 1px solid black;
    top: 0;
    width: 100px;
    height: 100px;
    z-index: 260;
}
.mouse{
    position: fixed;
    left: 0;
    top: 0;
    width: 35px;
    height: 35px;
    z-index: 260;
    display: flex;
    transition: scale 0.3s ease;
}
.mouse-i{
    color: black;
    mix-blend-mode: difference;
    margin: auto;
    font-size: 35px;
    transition: color 1s ease-in;
}

/* untuk prloader*/
.preloader{
    font-family: 'Syne',sans-serif;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgb(255, 255, 255);
    z-index: 400;
    display: flex;
    cursor: default;
}
.text-wrapper{
    margin: auto;
}
.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(21, 21, 21);
}
.text-wrapper h1{
    z-index: 1;
    color: white;
    font-size: 3em;
    text-align: center;
    margin: 0;
    line-height: 0;

    &:nth-of-type(5){
        color: rgb(255, 145, 0);
    }
}


/* untuk navbar*/
.menu{
    cursor: pointer;
    z-index: 310;
    width: 2.6em;
    height: 2em;
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    flex-wrap: wrap;
}
.line-nav{
    width: 90%;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: auto;
}
.line-nav:nth-child(2n){
    clip-path: polygon(0 0, 70% 0, 70% 100%, 0% 100%);
}
.line-nav:nth-child(3n){
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 20% 100%);
}
.bg-nav{
    font-family:'Cinzel', serif;
    z-index: 300;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #232323;
    display: none;
}
.bg-nav-two{
    border-radius: 10px;
    margin: auto;
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color:  rgb(82, 249, 127); 
    z-index: -1;

}
.char{
    height: min-content;
    top: 0;
    padding: 0;
    margin: 0;

}
nav{

    display: flex;
    margin: auto;
    width: 70%;
    height: 40%;
    margin-top: 120px;
}
ul{
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    height: 100%;
}
li{ 
    position: relative;
    cursor: pointer;
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    overflow: hidden;
}

.nav{
    margin: auto;
    list-style: none;
    text-decoration: none;
    font-size:3em;
    letter-spacing: 3px;
    font-weight: 400;
    color: black;
}
.cp-ku{
    margin: auto;
    width: 70%;
    height: 20%;
}
.saya{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-weight: 500;
}

/* kelas gambar*/
.kelas-satu{
    font-family: 'Cinzel', serif;
    width: 100%;
    height: 100vh;
    position: relative;
    object-fit: cover;
   margin: auto;
   display: flex;
    cursor: pointer;

   
}
.place-img{
    object-fit: cover;
    margin: auto;
    display: flex;
    width: 90%;
    height: 90%;
    position: relative;
}
.img-hv{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;   

}
.tombol{
    cursor: pointer;
    z-index: 10;
    background-color: transparent;
    width: 40%;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
}
.tombol-kanan{
    background-color: transparent;
    right: 0;
    cursor: pointer;
    z-index: 10;
    width: 10%;
    height: 100vh;
    top: 0;
    position: absolute;
}
/* untuk kelas desc & visi */
.bg-color{

    position: relative;
    width: 100%;
    height: auto;
    background-color: rgb(82, 249, 127);
}
.batang{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
}
.batang-b{
    width: 10%;
    height: 100vh;
    background-color: rgb(82, 249, 127);
}
.kelas-desc,.kelas-visi{
  
    font-family: 'Cinzel', serif;
    margin: auto;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
.text-gsap{
    width: max-content;
    height: min-content;
    margin: auto;
    display: block;
}  
.animtext{
    margin: auto;
    text-align: center;
}
.text,.visi{
    margin: auto;
    text-align: center;
    font-size: 2.6em;
    opacity: 1;
   display: inline-block;
   margin-left: 0.5em;
}
.smile{
    position: relative;
    transform: translateY(2px);
    width: 0.78em;
    height: 0.78em;
}

/* untuk kelas desc reveal */
.kelas-desc-two{
    font-family: 'Cinzel', serif;
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
}
.text-reveal{
    z-index: 10;
    position: relative  ;
    margin: auto;
    width: 70%;
    height: max-content;
    font-size: 2.5em;
}
.comp-svg{
    position: absolute;
    z-index: -1;
    width: 65%;
    height: 65%;
    right: -10%;
    bottom: -20%;
}
.flower-svg{
    z-index: -1;
    top: -20%;
    left: -20%;
    width: 45%;
    height: 45%;
    position: absolute;
    animation: muter 3s linear infinite ;
}

@keyframes muter{
    100%{
        transform: rotate(360deg);
    }
}
.marquee-bagus{
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 10vh;
    bottom: 0;
    left: 0;
    position: absolute;
}
.marquee-bagus p{
   color: whitesmoke;
    margin:0 10px ;
    font-size: 4em;
}
.star{
    color: whitesmoke;
    padding:  10px;
    margin:auto ;
    margin-top: 0.35em;
    font-size: 2em;
}
/* untuk kelas data */
.kelas-desc-three{
    font-family: 'Vina Sans', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
}
.inf-sch{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 80%;
    margin: auto;
}
.inf{
    width: 100%;
    height: 20%;
    z-index: 270;
    display: flex;
    align-items: center;
    justify-content:space-between;
    position: relative;
}
h2,.counter{ 
    z-index: 10;
    mix-blend-mode: difference;
    overflow: hidden;
    color: white;
    margin: 0 5%;    
    
}
.reveal{
    color: transparent;
    -webkit-text-stroke: 1px white;
    font-weight: 10;
    align-items: center;
    font-size: 7em;
}
.counter{
    font-size: 5em;
    font-weight: 100;
}
.line-a{
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    height: 2px;
    width: 100%;
}

.title_img{       
    position: absolute;
    width: 300px;
    height: 400px;
    top: 0;
    left: 0;
    transform-origin: 50% 50%;
    will-change: transform;
    pointer-events: none;
    overflow: hidden;
    z-index: 1; 
}
.title_img img{
    width: 100%;
    height: 100%;
}
/* kelas jurusan scrollX*/
.wrapper {
    font-family: 'Press Start 2P';
    overflow-x: hidden;
    position: relative;    
}
.container {
    display: flex;
    width: 300vw;
    .col {
        display: flex;
        gap: 3em;
    }
    section {
        height: 100vh;
        width: 100vw;
    }
}
.jurusan{
    width: 100vw;
    height: 100vh;
   background-color: rgb(202, 202, 202);
    display: flex;
}
.jur{
    position: relative;
    margin: auto;
    width: 80%;
    height: 80%;
}
.jur h1{
    color: rgb(39, 39, 39);
}
.singkatan{
    font-size: 5em;
}
.pariwisata{
    font-size: 4em;
}
.busana{
    font-size: 3.5em;
}
.non-s{
    margin-left: 2%;
    font-size: 0.7em;
}
.start{
    background-color: rgb(38, 38, 38);
}
.isi{
    font-size: 5em;
    text-align: center;
    width: auto;
    height: auto;
    margin: auto;
    color: white;
}
.all{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70%;
    display: flex;
}
.bar1,.bar2{
    display: flex;
    width: 50%;
    height: 100%;
}
.bar{
    border: 1px solid rgb(78, 78, 78);
    margin: auto;
    width: 80%;
    height: 80%;
}
.biodata{
    background-color:  rgb(38, 38, 38);
    margin: auto;
    width: 80% ;
    height: 80%;
}
.biodata h1{
    color: white;
    margin: 10px 10px;
    line-height: 30px;
}
.reveal-j{
    display: inline-block;
    overflow: hidden;
    margin-bottom: 5px;
}
.span{
    display: inline-block;
    overflow: hidden;
}

/* untuk murud berprestasi*/
.apresiasi{
    border-top: 1px solid rgb(38, 38, 38);
    position: relative;
    font-family: 'Press Start 2P';
    width: 100%;
    height: 100vh;
    background-color: rgb(202, 202, 202);
    display: flex;
}
.line-to-c{
    top: 0;
    left: 4.8%;
    position: absolute;
    width: 20px;
    height: 100%;
    background-color: rgb(38, 38, 38);

}
.layer{
    width: 50%;
    height: 100%;
    display: flex;
    position: relative;
}
.textt{
    font-size: 2em;
    color:  rgb(38, 38, 38);
    margin: auto;
    width: 80%;
    height: 80%;
}

.swipper{
    z-index: 299;
    top: 25%;
   right: 0;
    position: absolute;
    width: max-content;
    height: max-content;
}
.swiper {

    width:  28vw;
    height: 35vw;
}
.swiper-slide {
    display: flex;
    align-items: center;
    font-size: 22px;
    color: black;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

/*  untuk contact*/
.contact{
    position: relative;
    font-family: 'Press Start 2P';
    width: 100%;
    height: 100vh;
    background-color: rgb(38, 38, 38);
    display: flex;
}
.layer-c{
    margin: auto;
    width: 45%;
    height: 100%;
    display: flex;
}
.layer-c-wide{
    display: flex;
    margin: auto;
    width: 55%;
    height: 100%;
}
.email{
    margin: auto;
    width: 70%;
    height: auto;
}
.kata{
    display: flex;
    width: 100%;
    height: 6em;

}
.kata h1{
    margin: auto;
    color: rgb(249, 249, 249);
    font-size: 4em;
}
form{
    margin: auto;
    height: 80%;
    display: flex;
    width:50%;
    position: relative;
}
input{
    z-index: 299;
    font-family: 'Cinzel', serif;
    font-weight: bolder;
    margin: auto;
    outline: none;
    border: none;
    border-radius: 40px;
    width: 100%;
    height: 90%;
    padding-left: 0.5em;
    font-size: 1.5em;
}
button{
    z-index: 299;
    top: 5%;
    border-radius: 50% ;
    border: none;
    transform: translateX(3px);
    right: 0;
    position: absolute;
    width: 5.5em;
   height: 90%;
    background-color: aqua;
    border: 1px solid black;
    display: flex;
    transition: 0.5s ease-in-out;
}
button:hover{
    background-color: rgb(219, 150, 219);
}
button:hover .jempol{
    transition: 0.5s ease-in-out;
   scale: 0.8;
}
.jempol{
    margin: auto;
    font-size: 2.5vw;
}

.maps{
    position: relative;
    display: flex;
    width: 80%;
    height: 80%;
    margin: auto;
}
iframe{
    z-index: 299;
    width: 65%;
    left: 5.7%;
    border-radius: 50%;
    top: 13%;
    height: 55%;
    position: absolute;
}
.awe{

    margin: auto;
    width: 95%;
    height: 80%;
}

/* untuk marquee sponsor*/
.body-marq{
    background-color: rgb(82, 249, 229);
    width: 100%;
    height: 16vh;
    overflow: hidden;
    display: block;
}
.col{
    position: relative;
    display: flex;
    width: 100%;
    height: 50%;
}
.marquee{
    margin: auto;
    width: 98%;
    height: 100%;
    display: flex;
    border-bottom: 1px solid rgb(38, 38, 38) ;

}
.marq{
    width: 100%;
    height: 100%;
    display: flex;
}
.content{
    margin: auto;
    width: 200px;
    height: 100%;
    display: flex;
}
.content img{
    margin: auto;
    width: 60%;
    height: 60%;
}
.link{
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
}
.a-c{  
    border-radius: 30px;
    border: 1px solid black;
    padding: 7px 20px;
    margin: auto;
    font-size: 1.3em;
    color: black;
}




/* untuk dekstop responsive */  
/* untuk tablet responsive */  
/* untuk mobile responsive*/
@media screen and (max-width:425px){
    .text-wrapper h1{
        font-size:1.3em;
    
        &:nth-of-type(5){
            color: rgb(0, 218, 29);
        }
    }
    .menu{

        width: 1.8em;
        height: 1.2em;
    top: 7px;
    left: 7px;
}
    .tombol,.tombol-kanan{
        display: none;
    }
    .mouse,.mouse-delay{
        display: none;
    }
    .text{
        font-size: 1.8em;
    }
    .visi{
        font-size: 1.4em;
        }
    .teks{
        display: flex;
    }
    .text-reveal{
        margin: auto;
        width: 85%;
        height: max-content;
        font-size: 1.4em;
    }
    
    h2{ 
        font-size: 3em;
        color: white;
        margin: 0;    
    }
    .counter{
        font-size: 2em;
    }
    .isi{
        font-size: 1.5em;
    }
    .jurusan{
        width: 100vw;
        height: 100vh;
       background-color: rgb(202, 202, 202);
        display: flex;
    }
    .jur{
        object-fit: cover;
        margin: auto;
        width: 95%;
        height: 95%;
    }
    .jur h1{
        margin-left: 10%;
        margin-top: 20%;
        color: rgb(39, 39, 39);
    }
    .singkatan{
        font-size: 2em;
    }
    .non-s{
        font-size: 0.7em;
    }
    .busana{
        font-size: 1.7em;
    }
    .start{
        background-color: rgb(38, 38, 38);
    }
    
    .all{
        width: 100%;
        height: 70%;
        display: block;
    }
    .bar1,.bar2{
        display: flex;
        width: 100%;
        height: 50%;
    }
    
    .biodata h1{
        color: white;
        margin: 10px 10px;
        line-height: 20px;
        font-size: 0.7em;
    }
    
    .reveal{
        font-size: 4em;
    }
    .-j{
        font-size: 4em;
    }
    .counter{
        font-size: 3em;
    }
    .apresiasi{
        display: block;
    }
    .layer{
        width: 100%;
        height: 50%;
    }
    .layer:nth-child(1n){
        height: 70%;
    }
    .layer:nth-child(2n){
        height: 30%;
    }
    .textt{
        font-size: 0.7em;
    }
    
    .contact{
        display: block;
    }
    .layer-c{
        margin: auto;
        width: 100%;
        height: 60%;
        display: flex;
    }
    .layer-c-wide{
        display: flex;
        margin: auto;
        width: 100%;
        height: 40%;
    }
    .email{
        width: 90%;
    }
    .kata{
        height: 3em;
    }
    .kata h1{
        font-size: 2em;
    }
    input{
        font-size: 1em;
    }
    button{
        top: 2%;
        right: 0;
        width: 3em;
       height: 95%;
    }
    .swipper{
        top: 0%;
       right: 0;
   }
   .swiper {
    width:  15em;
    height: 20em;
}
.awe{
    transform: translateY(-70px);
    width: 90%;
}

.nav{
    font-size: 1.5em;
}
.link{
    width: 70%;
}
.a-c{  
    padding: 5px 10px;
    font-size: 1em;
}
.jempol{
    margin: auto;
    font-size: 1.3em;
}
iframe{
 
    top: -8%;
   

}
}  
@media screen and (max-width:325px){
    .text{
        font-size: 1.5em;
    }
    .visi{
        font-size: 1.1em;
        }
    .teks{
        display: flex;
    }
    .text-reveal{
        font-size: 1.1em;
    }
    h2{ 
        font-size: 1em;
        margin: 0;    
    }
    .counter{
        font-size: 2em;
    }
    .isi{
        font-size: 1.5em;
    }
    .jurusan{
        width: 100vw;
        height: 100vh;
       background-color: rgb(202, 202, 202);
        display: flex;
    }
    .jur{
        object-fit: cover;
        margin: auto;
        width: 95%;
        height: 95%;
    }
    .jur h1{
        margin-left: 10%;
        margin-top: 20%;
        color: rgb(39, 39, 39);
    }
    .singkatan{
        font-size: 1.8em;
    }
    .non-s{
        font-size: 0.5em;
    }
    .busana{
        font-size: 1.7em;
    }
    .start{
        background-color: rgb(38, 38, 38);
    }
    
    .all{
        width: 100%;
        height: 70%;
        display: block;
    }
    .bar1,.bar2{
        display: flex;
        width: 100%;
        height: 50%;
    }
    
    .biodata h1{
        color: white;
        margin: 10px 10px;
        line-height: 20px;
        font-size: 0.7em;
    }
    .counter{
        font-size: 3em;
    }
    .apresiasi{
        display: block;
    }
    .layer{
        width: 100%;
        height: 50%;
    }
    .layer:nth-child(1n){
        height: 70%;
    }
    .layer:nth-child(2n){
        height: 30%;
    }
    .textt{
        font-size: 0.7em;
    }

    .contact{
        display: block;
    }
    .layer-c{
        margin: auto;
        width: 100%;
        height: 60%;
        display: flex;
    }
    .layer-c-wide{
        display: flex;
        margin: auto;
        width: 100%;
        height: 40%;
    }
    .email{
        width: 90%;
    }
    .kata{
        height: 3em;
    }
    .kata h1{
        font-size: 1.5em;
    }
    input{
        font-size: 0.8em;
    }
    button{
        top: 2%;
        right: 0;
        width: 3em;
       height: 95%;
    }
    .awe{
        transform: translateY(-70px);
        font-size: 18em;
    }
    .nav{
        font-size: 1.4em;
    }
    .link{
        width: 70%;
    }
    .a-c{  
        font-size: 1em;
    }
    .awe{
        transform: translateY(-70px);
        width: 100%;
    }
}  
